{{ define "header"}} {{- partial "_shared/navbar.html" . -}} {{ end }} {{ define
"main" }}
<!-- Repeating li of All Post component-->
<div class="container">
	<div class="row justify-content-between">
		<div class="col-md-10">
			<h5 class="font-weight-bold spanborder pt-4 display-4">
				<span>{{ .CurrentSection.Params.category }}</span>
			</h5>
			<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fo-3j+92-6y-g7"
     data-ad-client="ca-pub-6364158409116386"
     data-ad-slot="3308906575"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
			{{ $post_paginator := .Paginate (.Pages) 10 }} {{ range
			$post_paginator.Pages }} {{- partial "list-partials/postlist.html" . -}}
			{{end}} {{- partial "list-partials/pagination.html" $post_paginator -}}
		</div>

		{{$images := .Resources.ByType "image"}} {{with $images.GetMatch "*cover*"
		}}
		<img height="120" src="{{ .Permalink }}" />
		{{end}}
	</div>
</div>
{{ if isset .Site.Params.index "alertbar" }} {{ if .Site.Params.index.alertbar
}} {{- partial "_shared/alertbar.html" . -}} {{ end }} {{ end }} {{end}} {{
define "footer"}} {{- partial "_shared/footer.html" . -}} {{ end }}
