{{ define "header"}} {{- partial "_shared/navbar.html" . -}} {{ end }} {{ define
"main" }}
<div class="container flex-column bg-white mt-5">
	<div class="py-5 px-3 mb-2">
		<h1 class=" mt-2 display-4 font-weight-bold spanborder font-montserrat">
			<span>Terms & Policies
		</h1>
		<small>Updated {{ .Lastmod.Format "January 2, 2006" }}</small>
		<div class="col-md-12 col-lg-8">
			<div class="article-post my-5">
				<p class="font-weight-bold display-6 font-montserrat ">Contents</p>
				<ol>
					<a href="#disclaimer" class="text-primary-emphasis"><li>Disclaimer</li></a>
					<a href="#privacy" class="text-primary-emphasis"><li>Privacy Policy</li></a>
					<a href="#terms" class="text-primary-emphasis"><li>Terms and Conditions</li></a>
				</ol>
				<div class="pt-5">
					<a name="disclaimer"></a><h4 class="text-center"><strong>Disclaimer</strong></h4>
					<p><strong>GENERAL INFORMATION</strong></p>

					<p>
						AllThatHappens.com&nbsp; (&ldquo;company&rdquo;, &ldquo;I&rdquo;,
						&ldquo;we&rdquo; or &ldquo;us&rdquo;) provides general educational
						information on various topics on this website as a public service,
						which should not be construed as professional, financial,
						real-estate, tax or legal advice. These are my personal opinions
						only.
					</p>

					<p>
						The term &ldquo;you&rdquo; refers to anyone who uses, visits
							and/or views the website.
						
					</p>
					<p>
						Please read this Disclaimer carefully, and I reserve the right to
							modify it at any time without notice.&nbsp; By visiting and using
							this website, you accept and agree to be bound by this Disclaimer
							along with our Terms and Conditions and Privacy Policy. Your
							continued use of our website, programs, products and/or services
							constitutes your acceptance of future changes and updates to this
							Disclaimer. You must not access or use our website if you do not
							wish to be bound by this Disclaimer.
					</p>
				
					<p>&nbsp;</p>
					<p><strong>GENERAL DISCLAIMER</strong></p>
			
					<p>
						All content and information on this website is for informational
							and educational purposes only, does not constitute professional
							advice of any kind and does not establish any kind of
							professional-client relationship by your use of this website. A
							professional-client relationship with you is only formed after we
							have expressly entered into a written agreement with you that you
							have signed including our fee structure and other terms to work
							with you in a specific matter. Although we strive to provide
							accurate general information, the information presented here is
							not a substitute for any kind of professional advice, and you
							should not rely solely on this information. Always consult a
							professional in the area for your particular needs and
							circumstances prior to making any professional, legal, financial
							or tax related decisions.
					
					</p>
				
					<p>&nbsp;</p>
					<p>
						<strong
							>AFFILIATE / THIRD PARTY LINKS DISCLOSURE AND DISCLAIMER</strong
						>
					</p>
			
					<p>
						We may partner with other businesses or become part of different
							affiliate marketing programs whose products or services may be
							promoted or advertised on the website in exchange for commissions
							and/or financial rewards when you click and/or purchase those
							products or services through our affiliate links. We will receive
							a commission if you make a purchase through our affiliate link at
							no extra cost to you.
					</p>
					<p>
						We may also recommend other products, services, coaches and
							consultants but no such reference is intended to be an endorsement
							or statement that such information provided is accurate. We
							recommend these based on our personal experiences but it is still
							your responsibility to conduct your own due diligence to ensure
							you have obtained complete accurate information about such
							product, services, coaches and consultants.
					</p>
					<p>
						These affiliate or third party relationships in no way compromise
							the integrity of the content, information, services and materials
							being presented to you here, and you are under no obligation to
							click on these affiliate links to purchase those products or
							services being offered. These affiliate programs are selected
							based on personal experiences and preferences.
					</p>
					<p>
						Although we provide these affiliate links on the website for your
							convenience, we have no control over these external websites and
							they are solely responsible for their own content and information
							presented.&nbsp; Therefore, AllThatHappens.com and/or its
							officers, employees, successors, shareholders, joint venture
							partners or anyone else working with us cannot be held liable or
							responsible for any content presented on these external websites
							and for any damages resulting from them.
					</p>
					<p>
						This disclosure policy applies to all affiliate links we share on
							our website, social media, emails, programs, products such as
							courses, ebooks, services and through any other means of
							communication with you.
					</p>
					
					<p>&nbsp;</p>
					<p>
						<strong
							>EARNINGS DISCLAIMER, TESTIMONIALS AND OTHER DISCLAIMERS</strong
						>
					</p>
				
					<p>
						
					We may disclose our income reports and success results of our
							current or former customers including product reviews and
							testimonials on the website from time to time. These income
							reports, product reviews and testimonials are accurate and
							strictly for informational purposes only.
					</p>
					<p>
						We share this information as examples to you but it does not
							serve as a guarantee or promise of any kind for your results and
							successes if you decide to use the same information, reviews,
							products, services, tips and techniques offered here.
						
					</p>
					<p>
						All the testimonials included on our websites, programs, products
							and/or services are real world examples and stories of other
							people&rsquo;s experiences with our programs, products and/or
							services. But they are not intended to serve as a guarantee that
							you will achieve same or similar results. Each individual&rsquo;s
							performance is different and your results will vary
							accordingly.
		
					</p>
					<p>
						You are encouraged to perform your own due diligence and research
							and are solely responsible for your earnings and results. Your
							earning potential and results are contingent upon your personal
							circumstances, abilities, experience and skills. Therefore, you
							agree not to hold us and/or our officers, employees, successors,
							shareholders, joint venture partners or anyone else working with
							us liable for any of your successes or failures directly or
							indirectly related to the information, reports, reviews, products
							and/or services presented to you here.
					</p>
					
					<p>&nbsp;</p>
					<p><strong>SPONSORED POSTS / REVIEWS DISCLAIMER</strong></p>
				
					<p>
						We may include sponsored blog posts on our website from time to
							time for products or services we recommend or those that have been
							valuable in our personal experience or use.
						
					</p>
					<p>
						We may review different products, services and other resources to
							provide reviews of books, services and any other recommendations
							to you. We may receive incentives, discounts, compensation or free
							products in exchange for our reviews and sponsored content. All
							such reviews and sponsored posts are solely our honest opinions
							made in good faith. You are always encouraged to perform your own
							due diligence prior to relying on them.
						
					</p>
					<p>
						We share this information as examples to you but it does not
							serve as a guarantee or promise of any kind for your results and
							successes if you decide to use the same information, reviews,
							products, services, tips and techniques offered here.
						
					</p>
					<p>
						You are encouraged to perform your own due diligence and research
							and are solely responsible for your decisions, purchases from our
							affiliate links, sponsored content and results. Your earning
							potential and results are contingent upon your personal
							circumstances, abilities, experience and skills. Therefore, you
							agree not to hold us and/or our officers, employees, successors,
							shareholders, joint venture partners or anyone else working with
							us liable for any of your successes or failures directly or
							indirectly related to the information, reports, reviews, products
							and/or services presented to you here.
						
					</p>
					<br><br>
                    
					<p>
						<strong>FAIR USE DISCLAIMER</strong
						>
					</p>
					
					<p>
						This website reviews products, including but not limited to
							posting of product images from other websites, logos of
							manufacturers. In doing so, no copyright is claimed for this kind
							of content on the website and to the extent that such material may
							appear to be infringed, we assert that such alleged infringement
							is permissible under the fair use principles of U.S. copyright
							laws. If you believe any material has been used in an unauthorized
							manner, please contact us at AllThatHappensNews@Gmail.com
						
					</p>
					<p>&nbsp;</p>

					<p><strong>NO WARRANTIES</strong></p>
				
					<p style="text-align: justify">
						ALL CONTENT, INFORMATION, PRODUCTS AND/OR SERVICES ON THE WEBSITE
							ARE &ldquo;AS IS&rdquo; AND &ldquo;AS AVAILABLE&rdquo; BASIS
							WITHOUT ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND INCLUDING
							THE WARRANTIES OF MERCHANTABILITY OR FITNESS FOR ANY PURPOSE,
							EXPRESS OR IMPLIED TO THE FULL EXTENT PERMISSIBLE BY LAW. COMPANY
							MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONTENT,
							INFORMATION, MATERIALS, PRODUCTS AND/OR SERVICES PROVIDED ON THIS
							WEBSITE. COMPANY MAKES NO WARRANTIES THAT THE WEBSITE WILL PERFORM
							OR OPERATE TO MEET YOUR REQUIREMENTS OR THAT THE INFORMATION
							PRESENTED HERE WILL BE COMPLETE, CURRENT OR ERROR-FREE. COMPANY
							DISCLAIMS ALL WARRANTIES, IMPLIED AND EXPRESS FOR ANY PURPOSE TO
							THE FULL EXTENT PERMITTED BY LAW.
						
					</p>
					<p><br /></p>
					<p><strong>LIMITATION OF LIABILITY</strong></p>
				
					<p>
						You agree that under no circumstances, we and/or our officers,
							employees, successors, shareholders, joint venture partners or
							anyone else working with us shall be liable for any direct,
							indirect, incidental, consequential, equitable, special, punitive,
							exemplary or any other damages resulting from your use of this
							website including but not limited to all the content, information,
							products, services and graphics presented here.
						
					</p>
					<p>
						You expressly agree that your use of the website is at your sole
							risk and that you are solely responsible for the accuracy of the
							personal and any information you provide, outcome of your actions,
							personal and business results, and for all other use in connection
							with the website.
						
					</p>
					<p>
						You also expressly agree that we and/or our officers, employees,
							successors, shareholders, joint venture partners or anyone else
							working with us shall not be liable to you for any damages
							resulting from 1) any errors or omissions on the website, delay or
							denial of any products or services, failure of performance of any
							kind, interruption in the operation and your use of the website,
							website attacks including computer virus, hacking of information,
							and any other system failures; 2) any loss of income, use, data,
							revenue, profits, business or any goodwill related to the website;
							3) any theft or unauthorized access by third party of your
							information from the website regardless of our negligence; and 4)
							any use or misuse of the information, products and/or services
							offered here.
					</p>
					<p>
						This limitation of liability shall apply whether such liability
							arises from negligence, breach of contract, tort or any other
							legal theory of liability. You agree that we provide no express or
							implied guarantees to you for the content presented here, and you
							accept that no particular results are being promised to you
							here.
						
					</p>
					<p><br /></p>
					<p><strong>INDEMNIFICATION</strong></p>
				
					<p style="text-align: justify">
						You agree to indemnify and hold the Company and/or its officers,
							employees, successors, shareholders, joint venture partners or
							anyone else working with us harmless from all losses, claims,
							damages, demands, actions, suits, proceedings or judgments,
							including costs, expenses and reasonable attorneys&rsquo; fees
							(&ldquo;Liabilities&rdquo;) assessed against or otherwise incurred
							by you arising, in whole or in part, from: (a) actions or
							omissions, whether done negligently or otherwise, by you, your
							agents, directors, officers, employees or representatives; (b) all
							your actions and use of our websites including purchasing
							programs, products and services; (c) violation of any laws, rules,
							regulations or ordinances by you; or (d) violation of any terms
							and conditions of this websites by you or anyone related to you;
							e) infringement by you or any other user of your account of any
							intellectual property or other rights of anyone. Company will
							notify you promptly of any such claims or liability and reserves
							the right to defend such claim, liability or damage at your
							expense. You shall fully cooperate and provide assistance to us if
							requested, without any cost, to defend any such claims.
						
					</p>
					<p><br /><br /></p>
					<a name="privacy"></a><h4 class="text-center"><strong>PRIVACY POLICY</strong></h4>
					<p>&nbsp;</p>
					<p>
						All That Happens, (&ldquo;company&rdquo;, &ldquo;I&rdquo;,
							&ldquo;we&rdquo; or &ldquo;us&rdquo;) is dedicated to respecting
							the privacy of your personal information, and this privacy policy
							describes what information is collected from you on
							AllThatHappens.com (hereinafter the &ldquo;website&rdquo;) and how
							it is used. The term &ldquo;you&rdquo; refers to anyone who uses,
							visits and/or views the website.
						
					</p>
					<p><br /></p>
					<p><strong>WHAT INFORMATION WE COLLECT AND HOW IT IS USED</strong></p>
				
					<p>
						When you access the website, you may provide certain personally
							identifiable information including but not limited to your name,
							email address, phone number, address, avatar image, credit card
							information when you make a purchase on the website.
						
					</p>
					<p>
						This information is collected when you register on the site,
							place an order, subscribe to a newsletter, contact us, use the
							search feature on the website, provide comments or any other
							feedback, fill out a form or use live chat or enter any other
							information on the website to communicate with us. From time to
							time, we may also collect information that you submit when you
							participate in any online surveys that we may post on our
							website.
					</p>
					<p>
						Your personal information is used to personalize your experience,
							improve the website to better serve you, provide customer service
							support, efficiently process your requests or transactions, tailor
							advertisements to you, elicit reviews of services or products,
							provide you offers, promotions and to follow up with you through
							correspondence (email, live chat, or phone).
					</p>
					<p>
						We may also use this information to provide you offers and
							promotions from our partners and/or our affiliates in exchange for
							a commission without additional cost to you.
					</p>
					<p>
						Additionally, like other websites, this website automatically
							collects certain information about you through Log Data and Google
							Analytics. Log Data is information about your computer&rsquo;s
							Internet Protocol Address, which is your &ldquo;IP&rdquo; address,
							browser information, Internet Service Provider&rsquo;s
							information, your operating system, and your browser type.
							Similarly, Google Analytics collects certain information about
							your location, browsing history, the pages you visit, equipment
							you used to access the website, traffic patterns, and other
							general patterns related to your use of the website.
					</p>
					<p>
						This information is used to analyze website statistics related to
							user behavior and interests, improve our performance and your use
							of the website and to further enhance our products and services
							offered to you.
					</p>

					<p>&nbsp;</p>
					<p><strong>COMMENTS AND SOCIAL MEDIA&nbsp;</strong></p>
				
					<p>
						If you leave a comment, the comment and its metadata are retained
							indefinitely. This is so we can recognize and approve any
							follow-up comments automatically instead of holding them in a
							moderation queue. When you leave a comment, your name, email
							address and website/organization name is not shared with a third
							party, and may be used to communicate with you.
					</p>
					<p>
						Social media accounts and sharing options are available on this
							website. Social media sites (Facebook, Twitter, YouTube, and so
							forth) can track your personal information. Should you choose to
							interact with us on social media, please note that you will be
							voluntarily disclosing that personal information. This information
							is no longer private. It becomes public information and can be
							collected and used by others. We have no control over and take no
							responsibility for the use, storage or dissemination of such
							publicly disclosed personal information by you.
					</p>
					<p>
						Any such interactions via comments and social media with us do
							not subject us to any kind of liability related to misuse of your
							information by others.
					</p>
					
					<p>&nbsp;</p>
					<p>
						<strong>USE OF COOKIES</strong
						>
					
					<p>
						The website may use cookies to facilitate your use of the
							website. Cookies are files with small amounts of data including an
							anonymous unique identifier that a website sends to your
							computer&rsquo;s hard drive when you are viewing the website. Just
							like other websites, we automatically collect some non-personally
							identifiable information including but not limited to your IP
							address, geographic location, language preference, date and time
							of visitors.
						
					</p>
					<p>
						When you leave a comment on our website, you may opt-in to saving
							your name, email address and website in cookies. These are for
							your convenience so that you do not have to fill in your details
							again when you leave another comment.
						
					</p>
					<p>
						If you have an account and you log in to this website, we will
							set a temporary cookie to determine if your browser accepts
							cookies. This cookie contains no personal data and is discarded
							when you close your browser.
						
					</p>
					<p>
						We may use cookies for various reasons such as optimizing and
							personalizing your browsing experience, checking our website
							analytics, saving your preferences and settings for future use,
							serving ads based on your liking and interests, affiliate
							marketing and for posting comments on our website.
						
					</p>
					<p>
						This information is only collected to better serve and understand
							your user experience on the website.&nbsp; You have the option of
							turning off cookies on your computer should you wish to do so. If
							you choose to do that, you may not be able to view all features
							and content of this website.
						
					</p>
					<p>&nbsp;</p>
					<p><strong>USE OF WEB BEACONS AND PIXELS</strong></p>
				
					<p>
						In conjunction with the use of cookies, third parties may also
							use web beacons, which are also known as clear GIFs, web bugs or
							pixel tags to collect general information about your use of our
							website. They monitor user activity and are used to track customer
							behavior data. This information may be relevant to third parties
							such as the ad networks used on our website to tailor the
							advertising based on your behavior and interests.
						
					</p>
					<p>
						We may use social media pixels to track and collect general
							information about your use in compliance with different social
							media sites (Facebook, Twitter, etc) for the purpose of promoting
							products, tracking conversions, remarketing, running target
							advertisements and so forth.
					</p>
					<p>
						Third parties like Facebook may use their own cookies, web
							beacons and other technologies to collect and receive information
							from our website for the purpose of providing target
							advertisements. You may see our ads on Facebook after you have
							visited our website.&nbsp;&nbsp;
					</p>
					<p>&nbsp;</p>
					<p><strong>THIRD PARTY LINKS AND USE&nbsp;</strong></p>
					
					<p>
						We may include, offer or advertise third party links, products or
							services on the website. Once you click on a third party link and
							leave this website, you are no longer bound by our Privacy Policy
							and Terms and Conditions.
						
					</p>
					<p>
						Articles on this website may include embedded content (e.g.
							videos, images, advertisements, etc.). Embedded content from other
							websites behaves in the exact same way as if the visitor has
							visited the other website. These websites may collect data about
							you, use cookies, embed additional third-party tracking, and
							monitor your interaction with that embedded content, including
							tracing your interaction with the embedded content if you have an
							account and are logged in to that website.
						
					</p>
					<p>
						We may use Google Adsense advertising along with any other third
							party advertising on the website. Google is a third party that
							also uses cookies to serve ads on the website for the purpose of
							providing a positive user experience. Third party vendors such as
							Google use cookies to serve ads based on a user&rsquo;s prior
							visits to the website. You can opt out of Google by visiting their
							privacy policy and ad settings.
						
					</p>
					<p>
						We have no control over these third parties and they have their
							own privacy policies. Neither are we responsible for the
							activities and practices of these third parties. You should
							contact them directly and read their privacy policies for any
							questions. You also agree that your use of these third party
							websites is solely at your risk.
						
					</p>
					<p>&nbsp;</p>
					
					<p><strong>DISCLOSURE OF YOUR INFORMATION</strong></p>
					
					<p>
						As a general rule, we do not disclose your personal information
							to third parties without your consent with the exception of the
							following circumstances:
					</p>
					<p>
						We may disclose your information to our trusted third parties
							that work with us such as our website hosting partners, email
							marketing service provider, other service providers that assist in
							the operation of the website, and any other affiliates and
							subsidiaries we rely upon to provide you products and services
							offered here.
						
					</p>
					<p>
						We may disclose your information in order to comply with state or
							federal regulations related to copyright infringement lawsuits or
							any other legal claims related to the website.
						
					</p>
					<p>
						We may disclose your information to our successor and/or
							acquiring party in the event of a merger, acquisition,
							restructuring, dissolution or partial sale in the future. However,
							your personal information will be transferred to the acquiring
							party in accordance with this privacy policy.
						
					</p>
				
					<p>&nbsp;</p>
					<p><strong>EMAIL MARKETING&nbsp;</strong></p>
					
					<p>
						You have the option of opting in or unsubscribing from our email
							list. By subscribing and opting in, you agree to receiving
							newsletters, updates, messages, promotional materials and any
							other content related to this website. When you send an email,
							your email message along with email address and responses are
							saved for communication purposes with you. This information is
							kept confidential and we do not share, sell or trade your email
							information with third parties except as otherwise stated in this
							privacy policy.
						
					</p>
					<p>
						We do not envision offering goods or services to individuals
							living in the European Union as outlined in the General Data
							Protection Regulation (&ldquo;GDPR&rdquo;).
						
					</p>
					<p>
						If you are in the European Union and opt in to receive any of our
							free products or services and/or purchase any products or services
							through our website then you will be subscribed to receive our
							free email newsletter once you affirmatively consent to it. Please
							see Opt Out section below should you wish to
							&ldquo;unsubscribe&rdquo; and not receive any emails from
							us.
						
					</p>
					<p>
						But if you are NOT in the European Union then you will be
							automatically subscribed to receive our free email newsletter once
							you opt in to receive any of our free products or services and/or
							purchase any products or services through our website. Please see
							Opt Out section below should you wish to &ldquo;unsubscribe&rdquo;
							and not receive any emails from us.
						
					</p>
					
					<p>&nbsp;</p>
					<p><strong>OPT OUT</strong></p>
					<p>
						We comply with the CAN-SPAM Act of 2003 and do not spam or send
							misleading information. Should you wish to no longer receive
							communication from us, you have the option of unsubscribing by
							clicking &ldquo;unsubscribe&rdquo; in the bottom of the email we
							send to you or by contacting us.
						
					</p>
					<p>
						As for third party websites, please contact them directly to
							unsubscribe and/or opt out from their communications.
						
					</p>
					<p>
						We are in compliance with the GDPR along with the email marketing
							service we use to collect your data.&nbsp;&nbsp;
						
					</p>
			
					<p>&nbsp;</p>
					<p><strong>GDPR VISITOR RIGHTS</strong></p>
				
					<p>
						Under the GDPR, if you are within the European Union, you are
							entitled to certain rights and information listed below.
						
					</p>
					<p>
						We will retain any information you choose to provide to us until
							the earlier of:
						
					</p>
					<p>
						You ask us to delete the information by sending a request to
							AllThatHappensNews@Gmail.com.
						
					</p>
					<p>
						&nbsp;Please note that such requests may result in you no longer
							being able to access paid or free content previously provided to
							you.
						
					</p>
					<p>
						Our decision to cease using our existing data providers.
						
                    </p>
					<p>
						The Company decides to no longer be in business or continue to
							offer the services.
						
					</p>
					<p>
						The data is no longer needed to provide you service, is too
							costly to maintain further retention, or the Company finds it
							outdated.
						
					</p>
					<p>
						You have the right to request access to your data that we store
							and have the ability to access your personal data.
						
					</p>
					<p>
						You have the rights to either rectify or erase your personal
							data. You have the right to verify the accuracy of your personal
							data and have it corrected or removed completely
						
					</p>
					<p>
						You have the right to seek restrictions on the processing of your
							data. When you restrict the processing of your data, we can store
							your data but cannot process it further.
						
					</p>
					<p>
						You have the right to object to the processing of your data in
							certain circumstances including but not limited to direct
							marketing, profiling, scientific or historical research purposes,
							statistical purposes, automated decision making and profiling and
							tasks based on legitimate interests or in the public
							interest/exercise of official authority.
						
					</p>
					<p>
						You have the right to the portability of your data. You have the
							right to request your personal data from us, receive it and
							transfer it to another controller.
						
					</p>
					<p>
						You have the right to withdraw consent at any time. If you have
							provided consent to the Company&rsquo;s processing of your
							personal data, you have the right to withdraw that consent any
							time without affecting the lawfulness of processing based upon
							consent that occurred prior to your withdrawal of consent.
						
					</p>
					<p>
						You have the right to lodge a complaint with a supervisory
							authority that has jurisdiction over issues related to the General
							Data Protection Regulation.
						
					</p>
					<p>
						We require only the information that is reasonably necessary to
							enter into a contract with you. We will not require you to provide
							consent for any unnecessary processing as a condition of entering
							into a contract with us.
						
					</p>
			
					<p>&nbsp;</p>
					<p><strong>SECURITY</strong></p>
				
					<p>
						The security of your personal information is important to us, and
							we strive to follow generally commercial industry standards to
							protect your personal information submitted to us voluntarily and
							automatically. However, no method of transmission over the
							Internet is 100% secure and we cannot guarantee absolute security
							of your information. When you make a credit card purchase or
							purchase through any means on the website, you will be directed to
							a third party vendor to complete the transaction. Any information
							you provide during the checkout process is not stored on our
							website but instead provided to the third party vendor that
							completes the purchase transaction.
						
					</p>
					<p>
						By using this website, you agree to hold us harmless for any
							security breach and for any unauthorized use of your personal
							information by third parties. You also agree that we cannot be
							held responsible for any disclosure of your information through
							our website without our knowledge and consent.
						
					</p>
				
					<p>&nbsp;</p>
					<p><strong>PRIVACY POLICY UPDATES&nbsp;</strong></p>
					
					<p>
						This privacy policy is effective as of 04/3/2023 and will be
							updated and modified as needed. You are responsible for visiting
							this page periodically to check for future updates to this policy.
							Any modifications to this privacy policy will be effective upon
							our publishing of the new terms, and your continued use of our
							website after the posting of any updates constitutes your
							acceptance of our modified privacy policy.
					</p>
					<p><br /><br /><br /></p>
					<a name="terms"></a> <h4 class="text-center"><strong>TERMS &amp; CONDITIONS</strong></h4>
					<p>Use of AllThatHappens.com</p>
			
					<p>1.</p>
					<p>
						You may not copy, reproduce, republish, download, post,
							broadcast, transmit, make available to the public, or otherwise
							use hitc.com content in any way except for your own personal,
							non-commercial use. You also agree not to adapt, alter or create a
							derivative work from any AllThatHappens.com content except for
							your own personal, non-commercial use. Any other use of
							AllThatHappens.com content, including reposting, reprints and
							syndication rights, requires the prior written permission of
							AllThatHappens. Email us at AllThatHappensNews@Gmail.com
						
					</p>
					<p>&nbsp;</p>
					<p>2.</p>
					<p>
						You agree to use AllThatHappens.com only for lawful purposes and
							in a way that does not infringe the rights of, restrict or inhibit
							anyone else&rsquo;s use and enjoyment of AllThatHappens.com.
							Prohibited behavior includes harassing or causing distress or
							inconvenience to any person, transmitting obscene or offensive
							content or disrupting the normal flow of dialogue within
							AllThatHappens.com.
						
					</p>
					<p><br /><br /></p>
					<p><strong>Disclaimers and Limitation of Liability</strong></p>
				
					<p>3.</p>
					<p>
						AllThathHappens.com content, including the information, names,
							images, pictures, logos and icons regarding or relating to ATH,
							its products and services (or to third party products and
							services), is provided &ldquo;AS IS&rdquo; and on an &ldquo;IS
							AVAILABLE&rdquo; basis without any representations or any kind of
							warranty made (whether express or implied by law) to the extent
							permitted by law, including the implied warranties of satisfactory
							quality, fitness for a particular purpose, non-infringement,
							compatibility, security and accuracy.
						
					</p>
					<p>&nbsp;</p>
					<p>4.</p>
					<p>
						Under no circumstances will ATH be liable for any of the
							following losses or damage (whether such losses where foreseen,
							foreseeable, known or otherwise): (a) loss of data; (b) loss of
							revenue or anticipated profits; (c) loss of business; (d) loss of
							opportunity; (e) loss of goodwill or injury to reputation; (f)
							losses suffered by third parties; or (g) any indirect,
							consequential, special or exemplary damages arising from the use
							of hereisthecity.com regardless of the form of action.
						
					</p>
					<p>&nbsp;</p>
					<p>5.</p>
					<p>
						ATH does not warrant that functions contained in
							AllThatHappens.com content will be uninterrupted or error free,
							that defects will be corrected, or that AllThatHappens.com or the
							server that makes it available are free of viruses or bugs.
						
					</p>
					<p><br /></p>
					<p><strong>Intellectual Property</strong></p>
			
					<p>6.</p>
					<p>
						The names, images and logos identifying ATH and/or third parties
							and their products and services are subject to copyright, design
							rights and trademarks of ATH and/or third parties. Nothing
							contained in these terms shall be construed as conferring by
							implication, estoppels or otherwise any licence or right to use
							any trademark, patent, design right or copyright of ATH or any
							other third party.
						
					</p>
					<p>&nbsp;</p>
					<p><strong>Contributions to AllThatHappens.com</strong></p>
					
					<p>7.</p>
					<p>
						Where you are invited to submit any contribution to
							AllThatHappens.com (including any text, photographs, graphics,
							video or audio) you agree, by submitting your contribution, to
							grant ATH a perpetual, royalty-free, non-exclusive, sub-licensable
							right and license to use, reproduce, modify, adapt, publish,
							translate, create derivative works from, distribute, perform,
							play, make available to the public, and exercise all copyright and
							publicity rights with respect to your contribution worldwide
							and/or to incorporate your contribution in other works in any
							media now known or later developed for the full term of any rights
							that may exist in your contribution, and in accordance with
							privacy restrictions set out in ATH&rsquo;s Privacy Policy. If you
							do not want to grant to the ATH the rights set out above, please
							do not submit your contribution to AllThatHappens.com.
						
					</p>
					
					<p>8.</p>
					<p>
						Further to paragraph 7, by submitting your contribution to
							AllThatHappens.com, you:
						
					</p>
					
					<p>8.1.</p>
					<p>
						warrant that your contribution:
						
					</p>
					<p>8.1.1.</p>
					<p>
						is your own original work and that you have the right to make it
							available to ATHfor all the purposes specified above;
						
					</p>
					<p>8.1.2.</p>
					<p>is not defamatory; and</p>
					<p>8.1.3.</p>
					<p>
						does not infringe any law;
					</p>
					<p>8.2.</p>
					<p>
						indemnify ATH against all legal fees, damages and other expenses
							that may be incurred by ATH as a result of your breach of the
							above warranty; and
						
					</p>
					<p>8.3.</p>
					<p>
						waive any moral rights in your contribution for the purposes of
							its submission to and publication on HITC.com and the purposes
							specified above.
						
					</p>
					<p>&nbsp;</p>
					<p><strong>AllThatHappens.com Community Rules</strong></p>
					<p>9.</p>
					<p>
						You agree to use AllThatHappens.com Communities (including
							Message Boards) in accordance with the following Community Rules.
							These apply across all ATH community sites and services. You
							should, however, read the local house rules of the particular site
							or service you&rsquo;re using, as there may be some local
							variations to these Community Rules.
						
					</p>
					<p>&nbsp;</p>
					<h5><strong>About your posts:</strong></h5>
		
					<p>
						Contributions must be civil and tasteful
					</p>
					<p>
						<strong>No disruptive, offensive or abusive behavior:</strong> contributions must
							be constructive and polite, not mean-spirited or contributed with
							the intention of causing trouble.
						
					</p>
					<p>
                    <strong> No unlawful or objectionable content:</strong>  unlawful, harassing,
							defamatory, abusive, threatening, harmful, obscene, profane,
							sexually oriented, racially offensive or otherwise objectionable
							material is not acceptable.
						
					</p>
					<p>
						If you use multiple logins for the purpose of disrupting the
							community or annoying other users you may have action taken
							against your accounts.
						
					</p>
					<p>
						<strong>Be patient:</strong> users of all ages and abilities may be taking part in
							the relevant hereisthecity.com Community.
						
                    </p>
					<p>
						<strong>No spamming or off-topic material:</strong> we don&rsquo;t allow the
							submission of the same or very similar contributions many times.
							Please don&rsquo;t re-submit your contribution to more than one
							discussion, or contribute off-topic material in subject-specific
							areas.
						
					</p>
					<strong><p>No advertising</p></strong>
					<p>
						<strong>No spoilers:</strong> material which contains plot developments which
							haven&rsquo;t been transmitted on U.S analogue or digital
							television will be deleted unless submitted in a designated
						&lsquo;spoilers&rsquo; area.
						
					</p>
					<p>
						Contributions containing languages other than English may be
							removed unless allowed in the relevant local house rules.
						
					</p>
					<strong><p>No impersonation</p></strong>
                    <strong><p>
						No inappropriate (e.g. vulgar, offensive etc) user names
						
					</p></strong>
					<p>
						You may not refer to specific URLs (web site addresses) unless
							allowed under the relevant local house rules. If you know of a
							worthy web site relevant to the discussion topic, please inform
							the host of the Community area.
						
					</p>
					<p>
						Deliberate misuse of the complaints facility is not permitted. If
							you persist in doing this action may be taken against your
							account.
						
					</p>
					<strong><p>Safety:</p></strong>
					<p>
						We advise that you never reveal any personal information about
							yourself or anyone else (for example: telephone number, home
							address or email address), and please do not include postal
							addresses of any kind. If you have a helpful address to share,
							inform the host of the relevant Community area using the
							&lsquo;Contact Us&rsquo; link, and they will promote it if they
							see fit.
						
					</p>
				
					<p>&nbsp;</p>
					<h5><strong>About the law:</strong></h5>
				
					<p>
						You may not submit any defamatory or illegal material of any
							nature in AllThatHappens.com Communities. This includes text,
							graphics, video, programs or audio.
						
					</p>
					<p>
						Contributing material with the intention of committing or
							promoting an illegal act is strictly prohibited.
						
					</p>
					<p>
						You agree to only submit materials which are your own original
							work. You must not violate, plagiarize, or infringe the rights of
							third parties including copyright, trade mark, trade secrets,
							privacy, publicity, personal or proprietary rights.
						
					</p>
					<p>
						The views expressed in AllThatHappens.com Community areas are
							those of members of the public and are not necessarily those of
							ATH.
						
					</p>
					<p>If you&rsquo;re under 16:</p>
		
					<p>
						Please get a parent&rsquo;s or guardian&rsquo;s permission before
							taking part in any AllThatHappens.com discussion.
						
					</p>
					<p>
						Never reveal any personal information about yourself or anyone
							else (for example, telephone number, home address or email
							address).
						
					</p>
					<strong><p>
						If you breach these Terms of Use:
						
					</p></strong>
					<p>
						If you fail to abide by these Community Rules (and/or any
							variations in the relevant local house rules) when taking part in
							a hereisthecity.com Community service, you will be sent an e-mail
							which informs you why your contribution has been failed or edited.
							This mail will also include a warning that continuing to break the
							rules may result in action being taken against your account or
							accounts.
						
					</p>
				
					<p>
						This action may include your relevant account or accounts being
							placed into pre-moderation or a temporary or permanent suspension
							of your ability to participate in any or all of AllThatHappens.com
							Community areas.
						
					</p>
				
					<p>
						If you post or send offensive or inappropriate content anywhere
							on or to AllThatHappens.com Communities or otherwise engage in any
							disruptive behavior on AllThatHappens.com, and ATH considers such
							behavior to be serious and/or repeated, ATH may use whatever
							information that is available to it about you to stop any further
							such infringements. This may include informing relevant third
							parties such as your employer, school or email provider about the
							infringement/s.
						
					</p>
				
					<p>
						ATH reserves the right to delete any contribution, or take action
							against any account, at any time, for any reason.
						
					</p>
				
					<p>&nbsp;</p>
					<p><strong>General</strong></p>
				
					<p>10.</p>
					<p>
						If there is any conflict between these terms and specific terms
							appearing elsewhere on AllThatHappens.com (including local house
							rules) then the latter shall prevail.
						
					</p>
				
					<p>11.</p>
					<p>
						If any of these terms are determined to be illegal, invalid or
							otherwise unenforceable by reason of the laws of any state or
							country in which these terms are intended to be effective, then to
							the extent and within the jurisdiction in which that term is
							illegal, invalid or unenforceable, it shall be severed and deleted
							from these terms and the remaining terms shall survive, remain in
							full force and effect and continue to be binding and
							enforceable.
						
					</p>
				
					<p>12.</p>
					<p>
						These terms shall be governed by and interpreted in accordance
							with the laws of the United States.
						
					</p>
				</div>
				{{/*
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<button
						type="button"
						class="btn d-none btn-primary btn-lg px-4 gap-3"
					>
						Primary button
					</button>

					<button
						type="button"
						class="btn d-none btn-outline-secondary btn-lg px-4"
					>
						Secondary
					</button>
				</div>
				*/}}
			</div>
		</div>
	</div>
	<!-- End Main -->
</div>
{{end}} {{ define "footer" }} {{- partial "_shared/footer.html" . -}} {{end}}
