{{ define "header"}} {{- partial "_shared/navbar.html" . -}} {{ end }} {{ define
"main" }}
<!-- Repeating li of All Post component-->
<div class="container">
	<div class="bg-white col-12 col-md-10">
		<h5 class="font-weight-bold fs-3 mb-4 section-title-root">
			<span class="section-title-text">Recent</span>
		</h5>
		<div class="px-3">
			{{ $post_paginator := .Paginate ( site.RegularPages ) }} {{ range
			$post_paginator.Pages }} {{- partial "list-partials/postlist.html" . -}}
			{{end}} {{- partial "list-partials/pagination.html" $post_paginator -}}
		</div>
	</div>
</div>
{{ if isset .Site.Params.index "alertbar" }} {{ if .Site.Params.index.alertbar
}} {{- partial "_shared/alertbar.html" . -}} {{ end }} {{ end }} {{end}} {{
define "footer"}} {{- partial "_shared/footer.html" . -}} {{ end }}
