{{ define "header"}} {{- partial "_shared/navbar.html" . -}} {{ end }} {{ define
"main" }} {{- partial "_shared/title.html" . -}}
<div class="container pb-4">
	<div class="row justify-content-center">
		{{- partial "_shared/share.html" . -}}
		<div class="col-md-12 col-lg-8">
			<article class="article-post">{{ .Content }}</article>
			{{- partial "_shared/subscribe.html" . -}}

			<!-- Next and PrevPage inside current section -->
			<div
				class="row text-primary mt-3 PageNavigation d-flex justify-content-between font-weight-bold"
			>
				{{with .NextInSection}}
				<a class="d-block col-md-6" href="{{.Permalink}}">
					&laquo; {{.Title}}</a
				>
				{{end}} {{with .PrevInSection}}
				<a class="d-block col-md-6 text-lg-right" href="{{.Permalink}}"
					>{{.Title}} &raquo;</a
				>
				{{end}}
				<div class="clearfix"></div>
			</div>
			<!-- End Next and PrevPage -->
		</div>
	</div>
</div>

{{ if isset .Site.Params.index "alertbar" }} {{ if .Site.Params.index.alertbar
}} {{- partial "_shared/alertbar.html" . -}} {{ end }} {{ end }} {{end}} {{
define "footer"}} {{- partial "_shared/footer.html" . -}} {{ end }}
