<!-- Begin Footer
================================================== -->
<div class="container mt-5">
	<footer class="p-3 text-muted small">
		<div class="row text-center justify-content-between">
			<div>
				<span class="navbar-brand mr-2"><strong>ATH</strong></span>
				Copyright &copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
				. All rights reserved. <a href="{{ .Site.BaseURL }}/policies" target="_self" class="text-muted">Terms &amp; Policies</a>
			</div>
	</footer>
</div>
<!-- End Footer
================================================== -->
