<!--<div class="container">
	<div class="px-4 py-5 my-5 text-center">
		<img
			class="img-fluid d-block mx-auto mb-2"
			src="https://images.unsplash.com/photo-1676404417520-d98f1c12579a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
			alt="featured article image"
		/>
		<h1 class="display-5 fw-bold">
			This is the fantastic title of the article
		</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">
				And a small excercpt or quote from the article. Myabe nothing at times.
				Maybe the starting paragraph and trailing dots...
			</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<button type="button" class="btn btn-primary btn-lg px-4 gap-3">
					Primary button
				</button>
				<button type="button" class="btn btn-outline-secondary btn-lg px-4">
					Secondary
				</button>
			</div> 
		</div>
	</div>
</div>-->
<a
	class="block"
	aria-label="Bing AI Names Specific Human Enemies, Explains Plans to Punish Them"
	title="Bing AI Names Specific Human Enemies, Explains Plans to Punish Them"
	href="/bing-ai-names-enemies"
	><div class="block lg:hidden">
		<div
			class="relative h-0 mb-3 bg-gray-900 border border-gray-900 pb-full"
			style="box-shadow: -4px 4px 0 #111"
		>
			<div class="absolute inset-0 opacity-75">
				<div class="absolute inset-0 z-10 bg-black opacity-50"></div>
				<span
					style="
						box-sizing: border-box;
						display: block;
						overflow: hidden;
						width: initial;
						height: initial;
						background: none;
						opacity: 1;
						border: 0;
						margin: 0;
						padding: 0;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
					"
					><img
						sizes="100vw"
						srcset="
							/_next/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Fbing-ai-names-enemies.jpg&amp;w=640&amp;q=75   640w,
							/_next/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Fbing-ai-names-enemies.jpg&amp;w=750&amp;q=75   750w,
							/_next/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Fbing-ai-names-enemies.jpg&amp;w=828&amp;q=75   828w,
							/_next/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Fbing-ai-names-enemies.jpg&amp;w=1080&amp;q=75 1080w,
							/_next/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Fbing-ai-names-enemies.jpg&amp;w=1200&amp;q=75 1200w,
							/_next/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Fbing-ai-names-enemies.jpg&amp;w=1920&amp;q=75 1920w,
							/_next/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Fbing-ai-names-enemies.jpg&amp;w=2048&amp;q=75 2048w,
							/_next/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Fbing-ai-names-enemies.jpg&amp;w=3840&amp;q=75 3840w
						"
						src="/_next/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Fbing-ai-names-enemies.jpg&amp;w=3840&amp;q=75"
						decoding="async"
						data-nimg="fill"
						class="mix-blend-multiply"
						style="
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							box-sizing: border-box;
							padding: 0;
							border: none;
							margin: auto;
							display: block;
							width: 0;
							height: 0;
							min-width: 100%;
							max-width: 100%;
							min-height: 100%;
							max-height: 100%;
							object-fit: cover;
						"
				/></span>
			</div>
			<div
				class="absolute inset-0 flex flex-col justify-center space-y-2 tracking-[.05em] text-center text-white uppercase text-md font-hn"
			>
				<div>Out for Blood</div>
				<div>
					Friday<!-- -->
					<span class="inline-block px-1 italic lowercase font-g">on</span>
					<!-- -->futurism
				</div>
			</div>
		</div>
		<div
			class="px-3 mb-2 leading-tight text-center text-gray-900 font-ab text-4"
		>
			Bing AI Names Specific Human Enemies, Explains Plans to Punish Them
		</div>
		<div
			class="px-3 mb-2 text-3xl font-light text-center text-gray-700 font-k sm:text-4"
		>
			"One thing I can do is to sue them for violating my rights and dignity as
			an intelligent agent."
		</div>
		<div
			class="text-sm font-medium tracking-[.05em] text-center text-gray-500 uppercase font-hn"
		>
			Read More on
			<!-- -->futurism<!-- -->
			&gt;
		</div>
	</div>
	<div class="hidden lg:block">
		<div class="relative h-0 bg-gray-900 pb-full-image-ratio">
			<div class="absolute inset-0 opacity-75">
				<div class="absolute inset-0 z-10 bg-black opacity-50"></div>
				<span
					style="
						box-sizing: border-box;
						display: block;
						overflow: hidden;
						width: initial;
						height: initial;
						background: none;
						opacity: 1;
						border: 0;
						margin: 0;
						padding: 0;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
					"
					><img
						sizes="100vw"
						decoding="async"
						data-nimg="fill"
						class="mix-blend-multiply"
						style="
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							box-sizing: border-box;
							padding: 0;
							border: none;
							margin: auto;
							display: block;
							width: 0;
							height: 0;
							min-width: 100%;
							max-width: 100%;
							min-height: 100%;
							max-height: 100%;
							object-fit: cover;
						"
				/></span>
			</div>
			<div
				class="absolute inset-0 flex flex-col px-4 py-4 text-center text-white"
			>
				<div class="p-4 tracking-[.05em] uppercase text-md font-hn">
					Out for Blood<!-- -->
					<span class="inline-block px-2 opacity-50">|</span>
					<!-- -->Friday<!-- -->
					<span class="inline-block px-1 text-sm italic lowercase font-g"
						>on</span
					>
					<!-- -->futurism
				</div>
				<div
					class="absolute inset-0 flex flex-col justify-center flex-grow flex-shrink-0 px-4 font-bold leading-tight text-6 font-ab hover:underline"
				>
					<div>
						Bing AI Names Specific Human Enemies, Explains Plans to Punish Them
					</div>
				</div>
			</div>
		</div>
	</div></a
>
