<div class="container">
	<div class="mb-3 pt-0 pb-0 bg-lightblue position-relative">
		<img
			class="img-fluid d-block mx-auto mb-4"
			src="https://unsplash.com/photos/0_nc9eoaPGs"
			alt="featured article image"
		/>
		<h1 class="display-5 fw-bold">
			This is the fantastic title of the article
		</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">
				And a small excercpt or quote from the article. Myabe nothing at times.
				Maybe the starting paragraph and trailing dots...
			</p>
			<!--<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<button type="button" class="btn btn-primary btn-lg px-4 gap-3">
					Primary button
				</button>
				<button type="button" class="btn btn-outline-secondary btn-lg px-4">
					Secondary
				</button>
			</div> -->
		</div>
	</div>
</div>
