<!--------------------------------------
NAVBAR
--------------------------------------->
<nav class="topnav navbar navbar-expand-lg navbar-dark bg-black fixed-top">
	<div class="full-width d-flex px-4">
		<!-- Begin Logo -->
		<a class="navbar-brand ml-4 mr-0" href="{{ .Site.BaseURL }}/">
			{{ with .Site.Params.navLogo }}
			<img src="{{ . | urlize | relURL }}" alt="logo" style="width: 5em" />
			{{ else }}
			<span style="font-family: Righteous">{{.Site.Title}}</span>
			{{ end }}
		</a>
		<!-- End Logo -->
		<button
			class="navbar-toggler collapsed"
			type="button"
			data-toggle="collapse"
			data-target="#navbarColor02"
			aria-controls="navbarColor02"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbarColor02">
			<ul class="navbar-nav ml-6 d-flex align-items-center">
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}/article/gaming"
						>Gaming</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}/article/science"
						>Science</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}/article/tech">Tech</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}/article/happening"
						>What's Happening</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}/article/the-all"
						>The All</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}/article/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}/"
						><span class="badge badge-secondary">DONATE</span></a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- End Navbar -->
