<!--------------------------------------
HEADER
--------------------------------------->
<div class="container">
	<div
		class="jumbotron jumbrotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative"
	>
		<div class="h-100 tofront">
			<div class="row justify-content-between">
				<div class="col-md-6 pt-5 pb-3 pr-6 align-self-center">
					<p class="text-uppercase font-weight-bold">
						<a class="text-danger" href="{{ .Site.BaseURL }}/{{.Section}}"
							>{{ .Section }}</a
						>
					</p>
					<h1 class="display-4 secondfont mb-3 font-weight-bold">
						{{ .Title }}
					</h1>
					<p class="mb-2">{{ .Summary }}</p>
					<div class="d-flex align-items-center">
						<img
							class="rounded-circle"
							src="/apple-touch-icon.png"
							width="70"
						/>

						<small class="ml-2"
							>{{ range .Param "author" }}{{ . }}{{end}}
							<span class="text-muted d-block"
								>{{ dateFormat "Jan 2, 2006" .PublishDate }} &middot; {{
								.ReadingTime }} min read</span
							>
						</small>
					</div>
				</div>
				<div class="col-md-6 pr-0 align-self-center">
					{{$images := .Resources.ByType "image"}} {{with $images.GetMatch
					"*cover*"}}
					<img src="{{ .Permalink }}" />
					{{end}}
					<small class="text-muted"
						>{{.Params.attrib}}
						<a href="{{.Params.attriblink}}" alt="Visit"
							>{{.Params.attribname}}</a
						>
					</small>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Header -->
