{{ define "header"}} {{- partial "_shared/navbar.html" . -}} {{ end }} {{ define
"main" }}
<div class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10 error">
				<div class="mainheading">
					<h1 class="posttitle mt-3">{{ .Title }}</h1>
				</div>
				<div class="article-post">
					Oops! This is obviously not what you are looking for.<br />
					Click <a href="/">here</a> to start all over again.
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
{{ if isset .Site.Params.index "alertbar" }} {{ if .Site.Params.index.alertbar
}} {{- partial "_shared/alertbar.html" . -}} {{ end }} {{ end }} {{end}} {{
define "footer"}} {{- partial "_shared/footer.html" . -}} {{ end }}
