<div class="container my-3">
	<a class="row position-relative">
		<img
			class="img-fluid mx-auto"
			src="https://images.cgames.de/images/gsgp/290/atomic-heart-gp-preview_6213344.jpg"
			alt="cover image"
		/>

		<h2
			class="z-3 flex-column display-3 position-absolute text-monospace font-bold text-uppercase px-5 text-white text-center align-self-center text-wrap"
			style="
				font-family: 'Tilt Warp', Georgia, Cambria, Times New Roman, Times serif;
			"
		>
			This is the dramatic title of the article
		</h2>
		<div
			class="position-absolute z-2 h-100"
			style="background-color: rgba(0, 0, 0, 0.5)"
		></div>
	</a>
</div>
