<a href="">
	<div class="h-0 bg-gray-900 pb-full-image-ratio my-5">
		<!--Post Image -->

		<div class="thumbnail inset-0 opacity-75">
			<span
				><img
					src="/image?url=https%3A%2F%2Fwp-assets.futurism.com%2F2023%2F02%2Ftherapy.jpg&amp;w=3840&amp;q=75"
					decoding="async"
					data-nimg="fill"
					class="d-block mx-auto mb-4"
			/></span>
		</div>
		<!--Post Content -->
		<div
			class=".carousel-inner inset-0 flex flex-col px-4 py-4 text-center text-white"
		>
			<div class="p-4 tracking-[.05em] uppercase text-md font-hn">
				{{ .CurrentSection.Params.category }}<!-- -->
				<span class="inline-block px-2 opacity-50">|</span>
				{{ dateFormat "Jan 2" .PublishDate }}
				<span class="inline-block px-1 text-sm italic lowercase font-g"
					>on</span
				>
				<!-- -->millenial moment
			</div>
			<div
				class="absolute inset-0 flex flex-col justify-center flex-grow flex-shrink-0 px-4 font-bold leading-tight text-6 font-ab hover:underline"
			>
				<div>{{.Title}}</div>
			</div>
		</div>
	</div>
</a>
