<!--
<div class="z-n1 d-inline-flex position-relative my-3 bg-white vw-100">
	<a class="h-100">
		<div class="w-75 z-2 h-100 mx-auto position-relative">
			<img
				class="z-1 img-fluid"
				src="https://images.cgames.de/images/gsgp/290/atomic-heart-gp-preview_6213344.jpg"
				alt="cover image"
			/>
			<div
				class="d-inline position-absolute top-0 start-50 translate-middle-x w-100 z-2 h-100"
				style="background-color: rgba(0, 0, 0, 0.5)"
			></div>
		</div>
		<div
			class="position-absolute top-50 start-50 translate-middle-x z-3 flex-column w-75"
		>
			<h2
				class="display-5 font-bold text-uppercase px-1 text-white text-center align-self-center text-wrap"
				style="
					font-family: 'Tilt Warp', Georgia, Cambria, Times New Roman,
						Times serif;
				"
			>
				This is the dramatic title of the article
			</h2>
		</div>
	</a>
</div>
-->
<div class="card border-0 text-bg-dark">
	<img
		src="https://images.interestingengineering.com/1200x675/filters:format(webp)/2023/02/23/image/png/yya4v8nPPugYlxbIyhUQwCakvmgI3J2m8vbddCcx.png"
		class="card-img shadow-lg"
		alt="..."
	/>
	<div
		class="card-img-overlay w-100 start-50 translate-middle-x text-center pt-n2"
		style="box-shadow: inset 0 0 200px #000; padding-top: 0em !important"
	>
		<h5
			class="card-title display-6 font-bold text-uppercase px-2 text-center align-self-center text-wrap"
			style="
				font-family: 'Tilt Warp', Georgia, Cambria, Times New Roman, Times serif;
				padding-top: 15%;
			"
		>
			<mark>This is the dramatic title of the article</mark>
		</h5>
		<p class="card-text fs-5">
			This is a wider card with supporting text below as a natural lead-in to
			additional content. This content is a little bit longer.
		</p>
		<p class="card-text">
			<small
				>Mar 21 on
				<span class="text-danger font-bold mark">Trending</span></small
			>
		</p>
	</div>
	<!--<div
		class="position-absolute top-0 start-50 translate-middle-x vw-100 z-n1 h-100"
		style="background-color: #9afbef"
	></div>-->
</div>
