<div class="mb-3 d-flex align-items-center">
	<div class="col-5 col-md-5 pl-0">
		<a href="{{ .Permalink }}">
			{{$images := .Resources.ByType "image"}} {{with $images.GetMatch "cover*"
			}}
			<img height="90" width="100%" src="{{ .Permalink }}" alt="thumb" />
			{{end}}
		</a>
	</div>
	<div class="pl-1">
		<h2 class="mb-1 h6 font-weight-bold">
			<a class="text-dark" href="{{.Permalink}}">{{.Title}}</a>
		</h2>
		<div class="card-text text-muted">
			{{ range .Param "author" }} {{ . }}{{end}} in
			<a href="{{ .Site.BaseURL }}/{{.Section}}"
				>{{.CurrentSection.Params.category}}</a
			>
		</div>
		<div class="text-muted card-text">
			{{dateFormat "Jan 2" .PublishDate}} &middot; {{ .ReadingTime }} min read
		</div>
	</div>
</div>
