<!-- Repeating li of All Post component-->
<div
	class="row d-flex mb-4 pb-3 border-bottom border-1 justify-content-between postbox"
>
	<div class="col-md-7 col-lg-8 mt-1 mt-md-0 text-center text-md-left">
		<h2 class="mb-1 mb-sm-0 h4 font-weight-bold">
			<a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
		</h2>
		<p class="excerpt">{{ .Summary }}...</p>

		<div class="d-md-flex justify-content-between align-items-center">
			<div>
				<div class="card-text text-muted small">
					{{ range .Param "author" }}{{ . }}{{end}} in
					<a href="{{ .Site.BaseURL }}/{{.Section}}"
						>{{.CurrentSection.Params.category}}</a
					>
				</div>
				<div class="text-muted small">
					{{ dateFormat "Jan 2, 2006" .PublishDate }} &middot; {{ .ReadingTime
					}} min read
				</div>
			</div>
			<div></div>
		</div>
	</div>
	<div
		class="col-10 col-md-5 col-lg-4 mt-4 mt-lg-0 mx-auto order-first order-md-last"
	>
		<a href="{{.Permalink}}">
			{{$images := .Resources.ByType "image"}} {{with $images.GetMatch "*cover*"
			}}
			<img
				width="250"
				height="150"
				src="{{ .Permalink }}"
				class="attachment-thumbnail size-thumbnail"
				alt
				loading="lazy"
			/>
			{{end}}
		</a>
	</div>
</div>
